/* --------------------------------- Layout ---------------------------------*/

.calculator {
	width: 380px;
	padding: 12px;
}

/* vertically center .container */
/* body {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
} */

button {
	width: 16%;
	height: 100%;
	font-family: 'Roboto', sans-serif;
	border: none;
	border-radius: 5px;
	outline: none !important;
	position:relative;
	transition: all 0.1s;
}

button.operator-group {
	font-size: 25px !important;    
}

button.operand-group, button#clear, button#ans, button#true, button#false {
	font-size: 20px !important;
}

button.ghost-group {
	visibility: hidden;
}

button#equal {
    font-size: 30px !important; 
    height: 220%;
}

#display1 {
	font-family: 'Roboto', sans-serif;
	font-weight: 400 !important;
	font-size: 20px !important;
	/* height: 50px; */
    height: 5em;
}

.button-row {
	margin-top: 0.5em;
    height: 2.7em;
}

form {
	/* width: 294px; */
    width: 100%;
	border-radius: .25rem;
}

form input {
	background-color: inherit;
	border: none;
	width: 294px;
	margin: 0 auto;
	display: block;
}

td, th {
    text-align: center;
}

#answer-table {
	font-family: 'Roboto', sans-serif;
}

#tautology {
	font-family: 'Roboto', sans-serif;
	text-align: center;
	margin-top: 1.5em;
}